@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  /* Prevent scrolling for kiosk feel */
}

/* Custom Breathing Animation for Button */
@keyframes breathing {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

.animate-breathing {
  animation: breathing 2s ease-in-out infinite;
}