version: '3.8'

services:
  avatar-app:
    image: kadirkrgll/avatar-app-v3:latest
    container_name: avatar-app
    restart: always

    environment:
      - NODE_ENV=production
      - PORT=8080
      - FRONTEND_PORT=3000
      - NEXT_PUBLIC_API_URL=https://avatar.havsan.cloud
      - NEXT_PUBLIC_BASE_URL=https://avatar.havsan.cloud
      - REACT_APP_API_URL=https://avatar.havsan.cloud
      - PUBLIC_URL=https://avatar.havsan.cloud
      - NEXT_PUBLIC_GEMINI_API_KEY=AIzaSyDxJhPKd168K7GRO9NcvcVuIAy88rmvj-k
      - NEXT_PUBLIC_HEYGEN_TOKEN=cef71aca-eadb-11f0-a99e-066a7fa2e369
      - heygen_token=cef71aca-eadb-11f0-a99e-066a7fa2e369

    ports:
      - "3000:3000" # Frontend (Next.js)
      - "8080:8080" # Backend (Express)

    networks:
      - coolify

    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:3000" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 60s

    deploy:
      resources:
        limits:
          memory: 2G
        reservations:
          memory: 512M

networks:
  coolify:
    external: true
